
#root{

  margin-top: 80px;
  display: flex;
  justify-content: center;
  

}
.form-page-heading-parent-div p {
  font-size: 14px;
  color: #818ca0;
  font-weight: 600;
  margin-bottom: 4px !important;
}
.mainDiv{
  width: 500px;
  height: 600px;
  justify-content: center;
  align-items: flex-start;
}

.logo-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  
  
}
body {
  background: #fff !important;

  
}

.logo{
  width: 150px;

}
.form-input-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.page3-card-parent{
  display: flex;
}

.tickImage{
  width: 60px;
  margin-top: -20px;
  margin-bottom: -30px;
}